services:
  service:
    build: .
    restart: "on-failure"
    ports:
      - 8080:8080
    depends_on:
      - database
  database:
    image: "mysql:8.0"
    restart: "on-failure"
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: my_database
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: admin
